<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<typeAliases>
		<typeAlias type="com.my.map.vo.Member" alias="Member" />
		<typeAlias type="com.my.map.vo.News" alias="News" />
	</typeAliases>
	<mappers>
		<mapper resource="Mapper/MemberMapper.xml" />
		<mapper resource="Mapper/MindMapMapper.xml" />
		<mapper resource="Mapper/CrawlingMapper.xml" />
		
	</mappers>
</configuration>
